.container {
    background-color: #51AD44;
    height: 51px;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* animation: slideRight 20s linear infinite; */
    overflow: hidden !important;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* .slide-nav{
    background-color:#51AD44 ;
    animation: slideRight 20s linear infinite;
    overflow: hidden !important;
} */
.icon,.icon2{
    display:flex;
    /* align-items:center; */
    justify-items: center;
    margin-top: 0.5rem;
    
}
.icon span{
    margin-right:0.3rem;
    
    
   
}
.icon2 span{
    margin-right:0.2rem;
    width:24.52px;
    height:24.12px;
    
}
.socialMedia,.address{
    display: flex;
    font-size: 14px;
    color:#fff;
    cursor: default;
}
.socialMedia > * +*{
    padding-left: 16px;
}
.address > * +*{
    padding-left: 16px;
}
.navWrapper{
    margin: 0 auto;
    padding:0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    position:sticky;
    top:0;
    background-color: #fff;
    z-index: 999;
}
/* .logo{
    height: 100px;
    width: 92.16px;
} */
/* .logo img{
    height: 100%;
    width: 100%;
    cursor: pointer;
} */
.navLinks{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.navLinks li{
    display: flex;
    color:#1E1E1E;
    font-size: 22px;
    cursor:pointer;

}
.navLinks li +li{
    margin-left: 16px;
}
.home{
    color: #133B10;
}

@media only screen and (max-width:1024px){
    .icon span{
         margin-right:0.01rem;}
    .icon2 span{
         margin-right:0.7rem;
         width:12px;
         height:14.2px;}

    
       
 

    
}

@media only screen and (max-width:750px){
    .icon span{
         margin-right:0.1rem;
        }

        
}

@media only screen and (max-width:420px){
    .container{
        display: none;
    }
   .navLinks{
    display:none;
   }
   .navWrapper{
    padding: 0px 20px;
    height: 65px;
   }
}
@media only screen and (max-width:370px){
    .logo p{
        display: none !important;
        background-color: red;
    }
}