.inputWrapper{
    /* background-color: blue; */
}
input{
    outline: none;
    border:none;
    border-radius: 8px;
}
input[data-size='small']{
    width:415.55px;
    height:46.22px;
    font-size:18px;
    color:#e5f6e2;
    background-color:transparent;
    border:2px solid #fff;
}
input[data-variant='primary']{
    background-color:#e5f6e2;
    margin-bottom: 1.5rem;
    color: black;
    
    
}
    
label{
    display: block;
    width:100%;
    font-size: 20px;
    font-family: inter;
    margin-bottom: 5px;
    text-transform:capitalize;
}
input::placeholder{
    color:#000;
    font-size: 20px;
}
.input[data-fullwidth=true]{
    width:100%;
}

@media only screen and (max-width: 600px){
    input[data-variant='primary']{
        margin-bottom: 0.7rem;
    }
}

@media only screen and (max-width:1024px){
    input::placeholder{
        font-size: 14px;
    }
}
