.footer{
    background-color:#0E5808;
    padding: 41px 78px 50px 51.29px ;
    margin-top: 66px;
}
.footerNav{
    max-width:1336.35px;
    /* height:135.59px; */
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#212122;
    margin: 0 104px ;
    color:#fff;
    padding:43.55px 102.18px  43.55px 25.78px ;
    border-radius: 15px;
}
.signup,.btns{
    display:flex;
    align-items:center;
}
.signup p{
    font-size:20px;
    margin-left:15px;
}
.signup p span{
    display:block;
}
.msg{
    color:#A74F0F;
    border:1px solid #A74F0F;
    background-color:#A74F0F;
    
}
.btns .btn{
    margin-left:30.6px;
}
.title{
    font-size:20px;
    color:#fff;
    padding-bottom:40px;
}
.title2{
    font-size:20px;
    color:#fff;
}
.aboutUs p{
    font-size:17px;
    color:#fff;
    width:255.72px;
}
.aboutUs >*+*{
    padding-bottom:20px;
}
.company{
   width:145.39px;
   color:#fff;
   font-size:17px;
   /* margin-right:125.71px; */
}
.company >*+*{
    padding-bottom:20px;
}
.services{
    width:191.79px;
    color:#fff;
    font-size:17px;
    /* margin-right:371.82px */
}
.services >*+*{
    padding-bottom:20px;
}
.content{
    display:flex;
    justify-content: space-between;
    /* padding:115px 50px 0 50px; */
    /* border:2px solid yellow; */
}
.contentsOne{
    display:flex; 
}
.contentsOne >*+*{
    margin-left: 121px;
}
.contentTwo{
    width:225.8px;
    height:63.31px;
    color:#fff;
    font-size:17px;
}
.contentTwo > *+*{
    padding-bottom:22px;
}
.contactUs{
    display:flex;
    align-items:center;
    /* justify-content: center; */
}
.contactUs span{
    display: inline flex;
    margin-right: 13px;
}
.example{
    width:300px;
}

@media only screen and (max-width:420px){
    .footer{
        background-color:#0E5808;
        padding:15px;
        margin-top: 66px;
    }
    .footerNav{
        width:320px;
        flex-direction: column;
        margin: 0 20px 0 10px ;
        padding:10px 14px 10px 18px ;
        align-items: start;

    }
    .signup p{
        font-size:12px;
        
       
    }
    .msg{
       width: 18px;
       height: 18px;
        
    }
    .signup,.btns{
        margin-top: 5px;
        
    }
    .content{
        flex-direction: column;
      
}
.contentsOne{
    display:flex; 
    justify-content: space-between;
   
    /* flex-direction: column; */
}
.contentsOne >*+*{
    margin-top: 5px;
    margin-left: 0px;
}
.company{
    width:auto;
    font-size:13px;
    /* margin-right:125.71px; */
 }
 .company h6{
    padding-top: 40px;
 }
 .aboutUs p{
    font-size:13px;
    color:#fff;
    width:auto;
}
.title{
    font-size:16px;
    color:#fff;
    padding:10px 0 10px 0; 
}
.company >*+*{
    padding-bottom:10px;
}
.msg2{
    height:20px;
    width: 20px;
}
.contentTwo > *+*{
    padding-bottom:10px;
    font-size: 13px;
}
}
@media only screen and (max-width:350px){
    .footerNav{
        width:auto;
        flex-direction: column;
        margin: 0 20px 0 10px ;
        padding:10px 14px 10px 18px ;
        align-items: start;

    }
}